pipeline/pl_multiTables_forEach_InputJson_copy1.json
{
	"name": "pl_multiTables_forEach_InputJson_copy1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.TableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_copy_multi_source_sql_tables",
									"type": "DatasetReference",
									"parameters": {
										"TABLE_SCHEMA": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"TABLE_NAME": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_target_multi_sql_foreach",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_outer_multiTables",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"TableList": {
							"value": "@pipeline().parameters.TableList1",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"TableList": {
				"type": "array",
				"defaultValue": [
					{
						"tableName": "iplteams",
						"tableSchemaName": "dbo"
					},
					{
						"tableName": "employees",
						"tableSchemaName": "dbo"
					},
					{
						"tableName": "salesitems",
						"tableSchemaName": "dbo"
					}
				]
			},
			"TableList1": {
				"type": "array",
				"defaultValue": [
					{
						"tableName": "iplteams_2",
						"tableSchemaName": "dbo"
					},
					{
						"tableName": "employees_2",
						"tableSchemaName": "dbo"
					},
					{
						"tableName": "salesitems_2",
						"tableSchemaName": "dbo"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-03T14:41:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}